@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
}

.main{
    display: flex;
    gap: 32px;
    position: relative;
}

img{
    width: 200px;
    height: 200px;
}

.sidebar{
    display: flex;
    align-items: center;
    height: 100%;
    width: 40%;
    background-color: rgb(60, 60, 196);
    background-position: center;
}

.title{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.288);
    height: 150px;
    width: 100%;
}

.name{
    font-size: 24px;
    font-weight: 500;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}

.name{
    font-size: 18px;
    color: white;
}

.message, .anotherMsg{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 25px;
    padding-right: 48px;
}

.anotherMsg{
    margin-bottom: 60px;
}

.heading{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 24px;
}

fieldset{
    border: none;
    box-shadow: 0px 4px 3px 3px lightgray;
    padding: 24px;
    margin-bottom: 18px;
}

button{
    padding: 12px 36px 12px 36px;
    border-radius: 5px;
    border: none;
    background-color: rgb(60, 60, 196);
    color: white;
    font-weight: 500;
    margin-bottom: 24px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(53, 53, 179);
}

a{
    text-decoration: none;
    color: rgb(60, 60, 196);
}

.form-div{
    margin-bottom: 18px;
    display: flex;
    gap: 100px;
}

label{
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    padding: 7px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
    outline: none;
    border-color:  blue;
}

input[type="password"]:invalid,
input[type="email"]:invalid{
    outline: none;
    border-color: red;
}

@media (max-width: 700px){
.main{
    flex-direction: column;
}

.sidebar{
    width: 100%;
}

.form-div{
    flex-direction: column;
}

.container{
    width: 50%;
}

}